extends ../layouts/base

block variables
	- pageTitle = 'Home'
	- pageDescription = 'Page-specific description'
	- pageKeywords = 'Page-specific keywords'


block body-content
	// $Page header
	header.page-header
		.page-header__inner
			input#nav-check.page-header__nav-check(type='checkbox')
			label.page-header__nav-icon(for='nav-check'): i.fa.fa-bars
			h1.page-header__logo Prechu
			.page-header__nav
				// $Page navigation
				nav.page-nav
					a.page-nav__link(href='#') Home
					a.page-nav__link.is-highlighted(href='#') Products
					a.page-nav__link(href='#') Services
					a.page-nav__link(href='#') Contacts


	// $Promo
	section.promo
		.promo__slider

			// $Slider
			.slider
				input#button-one.slider__radio(type='radio', name='controls', checked='checked')
				label.slider__control(for='button-one')

				input#button-two.slider__radio(type='radio', name='controls')
				label.slider__control(for='button-two')

				input#button-three.slider__radio(type='radio', name='controls')
				label.slider__control(for='button-three')

				ul.slider__items
					li#slide-one.slider__item
						figure.slider__item-image
							img(src='static/images/iphone.png', alt='Some picture')
							figcaption Lorem Ipsum is simply
						.slider__item-info
							h1.slider__item-title Lorem Ipsum is simply
							h2.slider__item-text dummy text of the
							h2.slider__item-text printing &amp; typesetting
							a.slider__item-link(href='#') Sign up now

					li#slide-two.slider__item
						figure.slider__item-image
							img(src='static/images/iphone.png', alt='Some picture')
							figcaption Lorem Ipsum is simply
						.slider__item-info
							h1.slider__item-title Lorem Ipsum is simply
							h2.slider__item-text dummy text of the
							h2.slider__item-text printing &amp; typesetting
							a.slider__item-link(href='#') Sign up now

					li#slide-three.slider__item
						figure.slider__item-image
							img(src='static/images/iphone.png', alt='Some picture')
							figcaption Lorem Ipsum is simply
						.slider__item-info
							h1.slider__item-title Lorem Ipsum is simply
							h2.slider__item-text dummy text of the
							h2.slider__item-text printing &amp; typesetting
							a.slider__item-link(href='#') Sign up now


	// $Services
	section.services
		.services__inner
			.services__item.services__item_info
				h3.service__title Contrary to popular
				p.service__text
					| Lorem Ipsum is not simply random text.
					br
					| It has roots in a piece
			.services__item.services__item_production
				h3.service__title Contrary to popular
				p.service__text
					| Lorem Ipsum is not simply random text.
					br
					| It has roots in a piece
			.services__item.services__item_proposal
				h3.service__title Contrary to popular
				p.service__text
					| Lorem Ipsum is not simply random text.
					br
					| It has roots in a piece


	// $Product
	section.product
		.product__inner
			h1.product__title The Shopping cart
			a.product__card(href='#') The Shopping cart
			.product__info
				h2.product__slogan Some Bullet text here
				p.product__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting
					br
					| Lorem Ipsum has been the industry&apos;s standard dummy text ever
					br
					| When an unknown printer took a galley of type and scrambled
					br
					| It to make a type specimen book. It has survived not only five centuries
					br
					| But also the leap into electronic typesetting
					br
					| Remaining essentially unchanged. It was popularised
					br
					| The release of Letraset sheets containing Lorem Ipsum passages


	// $Page footer
	footer.page-footer
		.page-footer__inner
			p.page-footer__copyright Designed by cssauthor.com | Coded by orlovmax.com
